body{
    background-color: rgb(126, 119, 119);
}
#Form{
    text-align: center;
    border: 3px rgb(55, 52, 52) solid;
    box-shadow: 2px 2px 4px rgb(124, 115, 115);
    border-radius: 5px;
    background-color: hsl(0, 0%, 93%);
    font-size: 1.5rem;
    max-width: 500px;
    margin: auto;
    /* padding-bottom: 20px; */
    padding-top: 10px;
}
#Form h3{
    position: relative;
    top: 10px;
    color: rgb(4, 18, 171);
}
#Len{
    border-radius: 10px;
    font-size: 1.1em;
    text-align: center;
    width: 180px;
}
#ButtonGenerat{
    margin-top: 10px;
    font-size: 1em;
    width: 187px;
    background-color: hsl(0, 100%, 58%);
    border-radius: 10px;
}
#Numbers   {position: relative;right: 10px;}
#UpperCase {position: relative;right: 01px;}
#Symbols   {position: relative;right: 12px;}
#LNumbers  {position: relative;right: 10px;}
#LUpperCase{position: relative;right: 01px;}
#LSymbols  {position: relative;right: 12px;}
#result {
    position: relative;
    bottom: 20px;
    display: inline-block;      /* inline-block allows wrapping when needed */
    max-width: 100%;            /* stay within parent container */
    word-wrap: break-word;      /* wrap long words if needed */
    white-space: normal;        /* text wraps automatically */
}