body{
    background-color: rgb(10, 10, 10);
}
h1{
    text-align: center;
    font-size: 60px;
}
#DiceNum{
    align-items: center;
    margin: auto;
}
#cont{
    background-color: hsl(0, 0%, 32%);
    border: 3px hsl(0, 0%, 15%) solid;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    max-width: 450px;
    margin: auto;
    padding-bottom: 100px;
    box-shadow: 2px 21px 2200px rgb(12, 10, 10);
    border-radius: 10px;
}
button{
    font-size: 1.5rem;
    margin-top: 10px;
    padding: 2px 120px;
    border-radius: 20px;
    border: none;
    background-color: hsl(25, 93%, 52%);
    /* color: rgb(79, 76, 76); */
}
#DiceNum{
    background-color: rgb(223, 223, 223);
    height:30px;
    font-size: 2rem;
    width: 150px;
    text-align: center;
    font-weight: bolder;
    border-radius: 15px;
}
#imgs img{
    width: 100px;
    margin-left: 1px;
}
